name: Awesome IIUM CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          
      - name: Install MkDocs Material
        run: pip install mkdocs-material

      - name: Prepare Index
        run: cp README.md index.md

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force

